In [74]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [61]:
df = pd.read_csv("C:/Users/gpro0/OneDrive/Рабочий стол/Data Science course/cardekho.csv")
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248.0,74,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498.0,103.52,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497.0,78,5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396.0,90,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298.0,88.2,5.0

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                8128 non-null   object
 1   year                8128 non-null   int64
 2   selling_price       8128 non-null   int64
 3   km_driven           8128 non-null   int64
 4   fuel                8128 non-null   object
 5   seller_type         8128 non-null   object
 6   transmission        8128 non-null   object
 7   owner               8128 non-null   object
 8   mileage(km/ltr/kg)  7907 non-null   float64
 9   engine              7907 non-null   float64
 10  max_power           7913 non-null   object
 11  seats               7907 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 762.1+ KB

In [63]:
df.isna().sum()

name                    0
year                    0
selling_price           0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)    221
engine                221
max_power             215
seats                 221
dtype: int64

In [64]:
df.max_power.value_counts()

max_power
74        377
88.5      222
81.8      220
67        165
46.3      162
         ...
68.4        1
169         1
170.63      1
149.5       1
135.1       1
Name: count, Length: 320, dtype: int64

In [65]:
for i in df.select_dtypes(include=['float']).columns:
    df[i]=df[i].fillna(df[i].mean())
df.isna().sum()

name                    0
year                    0
selling_price           0
km_driven               0
fuel                    0
seller_type             0
transmission            0
owner                   0
mileage(km/ltr/kg)      0
engine                  0
max_power             215
seats                   0
dtype: int64

In [66]:
for i in df.select_dtypes(include = ["object"]).columns:
    df[i] = df[i].replace(' ', np.nan)

In [67]:
for i in df.select_dtypes(['object']).columns:
    df[i] = df[i].fillna(df[i].mode()[0])
df.isna().sum()

name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
mileage(km/ltr/kg)    0
engine                0
max_power             0
seats                 0
dtype: int64

In [68]:
# df.max_power.map(lambda x: float(x.replace(" ", "")))
df['max_power'] = pd.to_numeric(df['max_power'])

In [70]:
df["brand"] = df["name"].apply(lambda x: x.split()[0])
df.drop("name", axis = 1, inplace=True)

In [71]:
col = df.select_dtypes(['object']).columns
le=LabelEncoder()
for i in col:
    df[i]=le.fit_transform(df[i])
df.head()

,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage(km/ltr/kg),engine,max_power,seats,brand
0,2014,450000,145500,1,1,1,0,23.40,1248.0,74.00,5.0,20
1,2014,370000,120000,1,1,1,2,21.14,1498.0,103.52,5.0,27
2,2006,158000,140000,3,1,1,4,17.70,1497.0,78.00,5.0,10
3,2010,225000,127000,1,1,1,0,23.00,1396.0,90.00,5.0,11
4,2007,130000,120000,3,1,1,0,16.10,1298.0,88.20,5.0,20